<a href="https://colab.research.google.com/github/MYSTH253/Tian-Hadi-Bahtiar/blob/main/P3_TianHadiBahtiar_2C1240039.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbint = [9,8,7,6,5,4,3,2,1,0]
print (numbint[2])

7

In [ ]:
x = [0 for i in range(10)]
print (x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
x = ["*" for i in range(10)]
print(x)

['*', '*', '*', '*', '*', '*', '*', '*', '*', '*']

In [4]:
TabInt = [1,2,4,-1,100,2,0,-1,3,9]
print(TabInt[5])
x = TabInt[1] + TabInt[6]
TabInt[9] = 9
print(TabInt[9])
print(x)

2
9
2

In [5]:
NumbInt = [0 for i in range(10)]
for i in range(0,10): NumbInt[i] = int(input())

4
3
2
1
5
6
7
8
9
0

In [11]:
NumbInt = [0 for i in range(10)]
for i in range(0,10):
    NumbInt[i] = int(input())

print(NumbInt[i])
for i in range(0,10):
    print(NumbInt[i])

1
2
3
4
5
6
7
8
9
0
0
1
2
3
4
5
6
7
8
9
0

In [14]:
NumbInt = [0 for i in range(10)]

for i in range(0,10):
    NumbInt[i] = int(input())

sum = 0
for i in range(0,10):
    sum = sum + NumbInt[i]

rata = sum/10
print ("Nilai rata-rata = " + str(rata))

1
1
2
2
3
3
4
4
5
5
Nilai rata-rata = 3.0

In [15]:

S = [4, 1, -1, 10, 0, 12]

D = int(input("Masukkan nilai D (pengali): "))

S = [elemen * D for elemen in S]

print("Array S setelah dikalikan dengan D:")
print(S)

maks = max(S)
minim = min(S)

print("Nilai terbesar dalam array:", maks)
print("Nilai terkecil dalam array:", minim)

Masukkan nilai D (pengali): 5
Array S setelah dikalikan dengan D:
[20, 5, -5, 50, 0, 60]
Nilai terbesar dalam array: 60
Nilai terkecil dalam array: -5

In [20]:
for i in range(5):
  for i in range(5):
    print(MatM[j][i],end=)
  print()

SyntaxError: invalid syntax (<ipython-input-20-a39e8d59e956>, line 3)

In [27]:
NBrs = 5; NKol = 5;
M = [[0 for j in range(NKol)] for i in range(NBrs)]

for i in range (NBrs):
  for j in range (NKol):
    M[i][j] = i * j

for i in range (NBrs):
  for j in range (NKol):
    print(str(M[i][j])+" ", end="")
print()

0 0 0 0 0 0 1 2 3 4 0 2 4 6 8 0 3 6 9 12 0 4 8 12 16