<a href="https://colab.research.google.com/github/MYSTH253/Tian-Hadi-Bahtiar/blob/main/P5_Tian_Hadi_Bahtiar_2C1240039.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program HelloWorld
#Mencetak Hello, World ke layar

#KAMUS
#belum diperlukan

#ALGORITMA
print('Hello, World!')

Hello, World!

In [1]:
#proses memasukan data ke dalam variabel
nama = "John Doe"
#proses mencetak variabel
print(nama)

namaDepan = "Budi"
namaBelakang = "Susanto"
nama = namaDepan + " " + namaBelakang
umur = 22
hobi = "Berenang"
print("Biodata\n", nama, "\n", umur, "\n", hobi)

John Doe
Biodata
 Budi Susanto
 22
 Berenang

In [2]:
#nilai dan tipe data dalam variabel dapat diubah
umur = 20 #nilai awal
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur
umur = "dua puluh satu" #nilai setelah diubah
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur

20
dua puluh satu

str

In [3]:
#contoh variabel lainya
inivariabel = "Halo"
ini_juga_variabel = "Hai"
_inivariabeljuga = "Hi"
inivariabel222 = "Bye"

panjang = 10
lebar = 5
luas = panjang * lebar
print(luas)

50

In [4]:
print("Hello, World!") # (1)
print("Ini program", end="") # (2)
print(" pertama saya") # (3)
print("Dengan", "Koma")
# Ini akan menghasilkan luaran "Dengan Koma"

print("Dengan" + " Plus")
# Ini akan menghasilkan luaran "DenganPlus"
# Perhatikan '+' pada print melakukan konkatenasi pada string saja.
variabel = " sebuah nilai"
print(f"Dengan format {variabel}")
# Ini akan menghasilkan luaran "Dengan format sebuah nilai"
# {variabel} akan diubah dengan nilai dari variabel bersesuaian.

# Ini adalah sebuah komentar.
# Semua yang ada setelah tanda pagar (#) akan diabaikan oleh interpreter

Hello, World!
Ini program pertama saya
Dengan Koma
Dengan Plus
Dengan format  sebuah nilai

In [9]:
S = input("Masukkan kalimat: ") #(1)
print("Anda memasuk kan kalimat: " + S) #(2)
N = int(input("Masukkan sebuah angka: ")) # (3)
print("Jika angka Anda ditambah 5, hasilnya: " + str(N + 5)) #(4)

Masukkan kalimat: aku prodi agribisnis
Anda memasuk kan kalimat: aku prodi agribisnis
Masukkan sebuah angka: 24
Jika angka Anda ditambah 5, hasilnya: 29

In [10]:
#contoh tipe data
#tipe data Boolean
print(True)

#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')

#tipe data Integer
print(20)

#tipe data Float
print(3.14)

True
Ayo belajar Python
Belajar Python Sangat Mudah
20
3.14

In [11]:
#interger ke float
x = float(5)
print(x)

#float ke integer
x = int(5.6)
print(x)

#suatu nilai ke string
x = str(9)
print(x)

#kumpulan data ke set, tuple, dan list
X = set([1, 2, 3])
y = tuple({5, 6, 7})
z = list(("hello"))
print(x)
print(y)
print(z)

5.0
5
9
9
(5, 6, 7)
['h', 'e', 'l', 'l', 'o']

In [12]:
x = 8
y = 2
result = x + y
print(result)

10

In [13]:
# Penjumlahan
print(13 + 2)
apel = 7
jeruk = 9
buah = apel + jeruk  # Menjumlahkan jumlah apel dan jeruk
print(f"Jumlah buah: {buah}")

# Pengurangan
hutang = 10000
bayar = 5000
sisa_hutang = hutang - bayar  # Menghitung sisa hutang
print(f"Sisa hutang Anda adalah {sisa_hutang}")

# Perkalian
panjang = 15
lebar = 8
luas = panjang * lebar  # Menghitung luas persegi panjang
print(f"Luas persegi panjang: {luas}")

# Pembagian
kue = 16
anak = 4
kue_per_anak = kue / anak  # Menghitung bagian kue per anak
print(f"Setiap anak akan mendapatkan bagian kue sebanyak {kue_per_anak}")

# Sisa Bagi / Modulus
bilangan1 = 14
bilangan2 = 5
hasil = bilangan1 % bilangan2  # Menghitung sisa bagi
print(f"Sisa bagi dari bilangan {bilangan1} dan {bilangan2} adalah {hasil}")

# Pangkat
bilangan3 = 8
bilangan4 = 2
hasil_pangkat = bilangan3 ** bilangan4  # Menghitung hasil pangkat print(f"Hasil pangkat: {hasil_pangkat}")

# Pembagian Bulat
print(10 // 3)
# 10 dibagi 3 adalah 3.3333. Karena dibulatkan maka akan menghasilkan nilai 3

15
Jumlah buah: 16
Sisa hutang Anda adalah 5000
Luas persegi panjang: 120
Setiap anak akan mendapatkan bagian kue sebanyak 4.0
Sisa bagi dari bilangan 14 dan 5 adalah 4
3

In [14]:
# SAMA DENGAN
print(1 == 1) # Hasilnya akan bernilai True karena satu sama dengan satu
print(1 == 2) # Hasilnya akan bernilai False karena satu tidak sama dengan dua

True
False

In [15]:
# TIDAK SAMA DENGAN
print(2 != 2) # Hasilnya akan bernilai False karena dua seharusnya sama dengan dua
print(2 != 3) # Hasilnya akan bernilai True karena dua tidak sama dengan tiga

False
True

In [16]:
# LEBIH BESAR DARI
print(5 > 3) # Hasilnya akan bernilai True karena lima lebih besar dari tiga

# LEBIH KECIL DARI
print(5 < 3) # Hasilnya akan bernilai False karena lima tidak lebih besar dari tiga

# LEBIH BESAR DARI SAMA DENGAN
print(5 >= 3) # Hasilnya akan bernilai True karena lima lebih besar dari sama dengan tiga

# LEBIH KECIL DARI SAMA DENGAN
print(5 <= 3) # Hasilnya akan bernilai False karena lima tidak lebih besar dari sama dengan tiga

True
False
True
False

In [17]:
# LEBIH BESAR DARI
print(5 > 3) # Hasilnya akan bernilai True karena lima lebih besar dari tiga

# LEBIH KECIL DARI
print(5 < 3) # Hasilnya akan bernilai False karena lima tidak lebih besar dari tiga

# LEBIH BESAR DARI SAMA DENGAN
print(5 >= 3) # Hasilnya akan bernilai True karena lima lebih besar dari sama dengan tiga

# LEBIH KECIL DARI SAMA DENGAN
print(5 <= 3) # Hasilnya akan bernilai False karena lima tidak lebih besar dari sama dengan tiga

True
False
True
False

In [18]:
# Penjumlahan
print(13 + 2)
apel = 7
jeruk = 9 #ini adalah banyaknya jeruk
buah = apel + jeruk  # Menjumlahkan jumlah apel dan jeruk
print(f"Jumlah buah: {buah}")

15
Jumlah buah: 16

In [19]:
# Penjumlahan
print(13 + 2)
apel = 7
jeruk = 9 #ini adalah banyaknya jeruk
buah = apel + jeruk  # Menjumlahkan jumlah apel dan jeruk
print(f"Jumlah buah: {buah}")

15
Jumlah buah: 16

In [20]:

#penjumlahan luas persegi

sisi = 10
luas =sisi * sisi
print(luas)

100

In [29]:
S = input("Nama: ") #(1)
print("Anda memasuk kan Nama: " + S) #(2)
N = input("NRP: ") # (3)
print("Anda memasuk kan NRP: " + N) #(4)
T = input("Fakultas: " ) #(5)
print("Anda memasuk kan Fakultas: " + T) #(6)
Y = input("Jurusan: " ) #(7)
print("Anda memasuk kan Jurusan: " + Y) #(8)
X = input("Kota Asal: " ) #(9)
print("Anda memasuk kan Kota Asal: " + X) #(10)
Z = input("Alamat Mahasiswa: ") #(11)
print("Anda memasuk kan Alamat Mahasiswa: " + Z) #(12)

Nama: Tian Hadi Bahtiar
Anda memasuk kan Nama: Tian Hadi Bahtiar
NRP: 2C1240039
Anda memasuk kan NRP: 2C1240039
Fakultas: Sains dan Teknologi
Anda memasuk kan Fakultas: Sains dan Teknologi
Jurusan: Agribisnis
Anda memasuk kan Jurusan: Agribisnis
Kota Asal: Ketapang
Anda memasuk kan Kota Asal: Ketapang
Alamat Mahasiswa: Jatinangor
Anda memasuk kan Alamat Mahasiswa: Jatinangor