<a href="https://colab.research.google.com/github/MYSTH253/Tian-Hadi-Bahtiar/blob/main/P8_Tian_Hadi_Bahtiar_2C1240039.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [2]:
arr = [10, 20, 30, 40]
print(arr)

[10, 20, 30, 40]

In [3]:
list_numbers = [1, 2, 3, 4, 5]
print(list_numbers)

[1, 2, 3, 4, 5]

In [5]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
print(list_numbers[0] )

100

**MENDEKLARASIKAN ARRAY**

In [6]:
arr = [1, 2, 3, 4, 5]
print(arr)

[1, 2, 3, 4, 5]

In [7]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
print(data)

[1, 2, 3, 'hello', 5.5]

In [9]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
print(arr)

[0, 0, 0, 0, 0]

In [10]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [11]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [12]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [32]:
arr = [27, -15, 39, 7, 98, 54, -50, 30, -7, 12]
#1. Nilai Maksimum
nilai_maksimum=max(arr)
print("Nilai maksimum:",nilai_maksimum)

#2. Nilai Minimum
nilai_minimum=min(arr)
print("Nilai minimum:",nilai_minimum)

#3. Hasil Penjumlahan Seluruh Elemen
penjumlahan=sum(arr)
print("Hasil penjumlahan:",penjumlahan)

#4. Jumlah Elemen
jumlah_elemen=len(arr)
print("Jumlah elemen:",jumlah_elemen)

#5. Rata-rata Seluruh Elemen
rata_rata = penjumlahan / jumlah_elemen
print("Rata-rata :", rata_rata)

Nilai maksimum: 98
Nilai minimum: -50
Hasil penjumlahan: 195
Jumlah elemen: 10
Rata-rata : 19.5